<div class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            pageTitle="Students"
            subtitle="List of students that registered in the system"
            icon="account_circle"
        ></app-header>
    </div>

    <div class="flex bg-white py-3 px-5 items-center">
        <div class="text-2xl font-bold">Filters</div>

        <div class="ml-auto">
            <select
                (change)="onDepartmentChange($event.target.value)"
                *ngIf="DEPARTMENTS | has_data"
                class="px-3 py-2 border border-gray-200"
            >
                <option selected disabled>Select Department</option>
                <option>All</option>
                <option
                    [value]="department.name"
                    *ngFor="let department of DEPARTMENTS; trackBy: identity"
                >
                    {{ department.name }}
                </option>
            </select>
        </div>

        <div class="ml-5">
            <select
                @expandCollapse
                (change)="onDegreeChange($event.target.value)"
                *ngIf="DEGREES | has_data"
                class="px-3 py-2 border border-gray-200"
            >
                <option selected disabled>Select Degree</option>
                <option>All</option>
                <option
                    [value]="degree.name"
                    *ngFor="let degree of DEGREES; trackBy: identity"
                >
                    {{ degree.name }}
                </option>
            </select>
        </div>

        <div class="ml-5">
            <select
                @expandCollapse
                (change)="onCourseChange($event.target.value)"
                *ngIf="COURSES | has_data"
                class="px-3 py-2 border border-gray-200"
            >
                <option selected disabled>Select Course</option>
                <option>All</option>
                <option
                    [value]="course.name"
                    *ngFor="let course of COURSES; trackBy: identity"
                >
                    {{ course.name }}
                </option>
            </select>
        </div>
        <div class="ml-5">
            <select
                @expandCollapse
                *ngIf="MAJORS | has_data"
                class="px-3 py-2 border border-gray-200"
            >
                <option selected disabled>Select Major</option>
                <option>All</option>
                <option
                    [value]="major"
                    *ngFor="let major of MAJORS; trackBy: identity"
                >
                    {{ major }}
                </option>
            </select>
        </div>
    </div>

    <div
        class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-none overflow-hidden"
    >
        <div class="flex flex-col flex-auto mt-5 overflow-x-auto">
            <table class="min-w-240 overflow-y-visible">
                <thead>
                    <tr>
                        <th class="text-zinc-900/50">Student Name</th>
                        <th class="text-zinc-900/50">Email</th>
                        <th class="text-zinc-900/50">Department</th>
                        <th class="text-zinc-900/50">Degree</th>
                        <th class="text-zinc-900/50">Course</th>
                        <th class="text-zinc-900/50">Major</th>
                        <th class="text-zinc-900/50">Average Performance</th>
                        <th class="text-zinc-900/50">Completed Surveys</th>
                    </tr>
                </thead>
                <tbody [@listAnimation]="(users$ | async).length">
                    <tr
                        *ngFor="let user of users$ | async"
                        class="border-t border-zinc-200 text-center hover:bg-slate-50"
                    >
                        <td>{{ user.student.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.student.department }}</td>
                        <td>{{ user.student.degree }}</td>
                        <td>{{ user.student.course }}</td>
                        <td>{{ user.student.major || "N/A" }}</td>
                        <td class="text-emerald-500 font-extrabold">0</td>
                        <td>0</td>
                        <td>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon
                                    svgIcon="mat_outline:more_horiz"
                                ></mat-icon>
                            </button>

                            <mat-menu #menu="matMenu">
                                <button (click)="viewMore(user)" mat-menu-item>
                                    View More
                                </button>

                                <button (click)="remove(user.id)" mat-menu-item>
                                    Remove
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
