<div class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            pageTitle="Students"
            subtitle="List of students that participated on Surveys"
            icon="account_circle"
        ></app-header>
    </div>

    <div class="flex bg-white py-3 px-5 items-center">
        <div class="text-2xl font-bold">Filters</div>

        <div class="ml-auto">
            <select class="px-3 py-2 border border-gray-200">
                <option selected disabled>Select Department</option>
                <option>All</option>
            </select>
        </div>

        <div class="ml-5">
            <select class="px-3 py-2 border border-gray-200">
                <option selected disabled>Select Degree</option>
                <option>All</option>
            </select>
        </div>

        <div class="ml-5">
            <select class="px-3 py-2 border border-gray-200">
                <option selected disabled>Select Course</option>
                <option>All</option>
            </select>
        </div>
        <div class="ml-5">
            <select class="px-3 py-2 border border-gray-200">
                <option selected disabled>Select Major</option>
                <option>All</option>
            </select>
        </div>
    </div>

    <div
        class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-none overflow-hidden"
    >
        <div class="flex flex-col flex-auto mt-5 overflow-x-auto">
            <table class="min-w-240 overflow-y-visible">
                <thead>
                    <tr>
                        <th class="text-zinc-900/50">Student Name</th>
                        <th class="text-zinc-900/50">Email</th>
                        <th class="text-zinc-900/50">Department</th>
                        <th class="text-zinc-900/50">Degree</th>
                        <th class="text-zinc-900/50">Course</th>
                        <th class="text-zinc-900/50">Major</th>
                        <th class="text-zinc-900/50">Average Performance</th>
                        <th class="text-zinc-900/50">Average Grade</th>
                        <th class="text-zinc-900/50">Completed Surveys</th>
                    </tr>
                </thead>
                <tbody [@listAnimation]="5">
                    <tr
                        *ngFor="let order of [1, 2, 3, 4, 5, 6]"
                        class="border-t border-zinc-200 text-center hover:bg-slate-50"
                    >
                        <td>Ernest</td>
                        <td>ernest@gmail.com</td>
                        <td>College of Computer Studies</td>
                        <td>Bachelor of Science</td>
                        <td>Computer Science</td>
                        <td>Software Development</td>
                        <td class="text-emerald-500 font-extrabold">95</td>
                        <td class="text-emerald-500 font-extrabold">91</td>
                        <td>2</td>
                        <td>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon
                                    svgIcon="mat_outline:more_horiz"
                                ></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <a routerLink="/students/asdasdsd" mat-menu-item
                                    >View More</a
                                >

                                <button (click)="remove('0')" mat-menu-item>
                                    Remove
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
