<div [formGroup]="form" class="w-screen p-5 md:w-auto md:p-0">
    <div class="flex border-b border-zinc-200 pb-4">
        <h1 class="text-xl">New Form</h1>

        <mat-icon
            id="close-btn"
            role="button"
            mat-button
            mat-dialog-close
            svgIcon="feather:x"
            class="ml-auto bi bi-x-lg text-2xl hover:text-rose-600 text-slate-900"
        ></mat-icon>
    </div>

    <div [formGroup]="form" mat-dialog-content class="mb-5 p-5 py-10">
        <mat-form-field class="w-full">
            <mat-label>Form Name</mat-label>

            <input id="name" matInput [formControlName]="'name'" />

            <mat-error *ngIf="form.get('name').hasError('required')">
                Form Name is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>

            <textarea
                id="description"
                matInput
                [formControlName]="'description'"
            ></textarea>

            <mat-error *ngIf="form.get('description').hasError('required')">
                Question is required
            </mat-error>
        </mat-form-field>

        <!-- <mat-form-field class="w-full">
            <mat-label>Question Typ</mat-label>

            <mat-select
                id="question_type"
                matInput
                [formControlName]="'question_type'"
            >
                <mat-option [value]="'button'">Button</mat-option>
                <mat-option [value]="'radio'">Radio</mat-option>
            </mat-select>

            <mat-error
                *ngIf="form.get('question_type').hasError('question_type')"
            >
                Question Typ is required
            </mat-error>
        </mat-form-field> -->
    </div>

    <div mat-dialog-actions class="flex items-center">
        <button class="ml-auto text-slate-400" mat-button mat-dialog-close>
            Close
        </button>

        <button
            [ngClass]="{
                'bg-slate-200': !form.valid || form.disabled,
                'bg-teal-500': form.valid && !form.disabled
            }"
            (click)="save()"
            class="ml-2 text-white rounded-sm px-10"
            mat-button
        >
            <span> Add </span>
        </button>
    </div>
</div>
