<div class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            pageTitle="Dashboard"
            subtitle="Summary of Psychometric Performances of Students that participated on Surveys"
            icon="dashboard"
        ></app-header>
    </div>

    <dashboard-top-cards></dashboard-top-cards>

    <div
        @slideInBottom
        class="flex flex-col w-full bg-white drop-shadow-md p-10"
    >
        <div class="font-bold text-xl">Top Students (Psychometric)</div>
        <div class="text-gray-500 mb-10">
            These students are sorted based on Psychometric Scores.
        </div>

        <div
            class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-none overflow-hidden"
        >
            <div class="flex flex-col flex-auto mt-5 overflow-x-auto">
                <table class="min-w-240 overflow-y-visible">
                    <thead>
                        <tr>
                            <th class="text-zinc-900/50">Student Name</th>
                            <th class="text-zinc-900/50">Email</th>
                            <th class="text-zinc-900/50">Department</th>
                            <th class="text-zinc-900/50">Degree</th>
                            <th class="text-zinc-900/50">Course</th>
                            <th class="text-zinc-900/50">Major</th>
                            <th class="text-zinc-900/50">
                                Average Performance
                            </th>
                            <th class="text-zinc-900/50">Completed Surveys</th>
                        </tr>
                    </thead>
                    <tbody [@listAnimation]="(users$ | async).length">
                        <tr
                            *ngFor="let user of users$ | async"
                            class="border-t border-zinc-200 text-center hover:bg-slate-50"
                        >
                            <td>{{ user.student.name }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.student.department }}</td>
                            <td>{{ user.student.degree }}</td>
                            <td>{{ user.student.course }}</td>
                            <td>{{ user.student.major || "N/A" }}</td>
                            <td class="text-emerald-500 font-extrabold">0</td>
                            <td>0</td>
                            <td>
                                <button mat-button [matMenuTriggerFor]="menu">
                                    <mat-icon
                                        svgIcon="mat_outline:more_horiz"
                                    ></mat-icon>
                                </button>

                                <mat-menu #menu="matMenu">
                                    <button
                                        (click)="viewMore(user)"
                                        mat-menu-item
                                    >
                                        View More
                                    </button>

                                    <button
                                        (click)="remove(user.id)"
                                        mat-menu-item
                                    >
                                        Remove
                                    </button>
                                </mat-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
