<div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-6 w-full min-w-0 px-5 py-5"
>
    <div class="flex flex-col flex-auto p-6 bg-card rounded-sm overflow-hidden">
        <div class="flex flex-col items-center mt-2">
            <div
                class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-blue-800"
            >
                {{ analytics.total_surveys }}
            </div>

            <div class="text-lg font-medium text-blue-800">Today's Survey</div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="text-md font-medium truncate">
                    Total Students who answered the survey today.
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 bg-card rounded-sm overflow-hidden">
        <div class="flex flex-col items-center mt-2">
            <div
                class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-yellow-500"
            >
                {{ analytics.registered_student }}
            </div>

            <div
                class="text-lg font-medium text-yellow-600 dark:text-stone-500"
            >
                Registered Students
            </div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="text-md font-medium truncate">
                    Student who registered in the website
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 bg-card rounded-sm overflow-hidden">
        <div class="flex flex-col items-center mt-2">
            <div
                class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-emerald-400"
            >
                {{ analytics.answered_student }}
            </div>

            <div class="text-lg font-medium text-emerald-400">
                Answered Students
            </div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="text-md font-medium truncate">
                    Total Students who completed the survey
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 bg-card rounded-sm overflow-hidden">
        <div class="flex flex-col items-center mt-2">
            <div
                class="text-7xl sm:text-8xl font-bold tracking-tight leading-none text-pink-500"
            >
                {{ analytics.surveyQuestions }}
            </div>

            <div class="text-lg font-medium text-pink-600">
                Survey Questions
            </div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="text-md font-medium truncate">
                    Total Questions on a survey.
                </div>
            </div>
        </div>
    </div>
</div>
