<div
    class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0"
>
    <div
        class="relative bg-teal-900 hidden md:flex flex-auto items-center justify-center w-1/2 h-full p-16 lg:px-28 overflow-hidden dark:border-l"
    >
        <img
            src="assets/app/bg.jpg"
            style="position: absolute; opacity: 0.2"
            class="logo"
            alt=""
        />

        <div class="z-10 relative w-full max-w-2xl">
            <div class="text-white text-7xl font-bold">
                Central Philippine University Student Performance Monitoring
                Admin Panel.
            </div>
        </div>

        <div class="text-white absolute bottom-20">
            <div class="font-medium text-white"></div>
            Developed by:
            <span class="text-amber-500">
                <a target="_blank"
                    >Group 7 of BSCS-3 from College of Computer Studies, Central
                    Philippine University</a
                >
            </span>
        </div>
    </div>
</div>
<div
    [formGroup]="form"
    class="flex w-full sm:w-auto md:h-full py-8 px-4 sm:p-16 md:p-16 bg-white"
>
    <div class="w-full sm:w-80 mx-auto sm:mx-0 my-auto flex flex-col">
        <div
            class="bg-white rounded-full p-8 mx-auto"
            style="height: 20vh; width: 20vh"
        >
            <img
                src="assets/app/cpu-logo.png"
                class="mt-auto w-full h-full object-cover"
                alt=""
            />
        </div>
        <div
            class="mt-2 text-2xl font-extrabold tracking-tighter leading-tight text-center md:text-left"
        >
            Central Philippine University
        </div>
        <p class="text-center md:text-left">
            Student Performance Monitoring Admin Panel.
        </p>

        <form class="mt-8" [formGroup]="form" #signInNgForm="ngForm">
            <mat-form-field class="w-full">
                <mat-label>Email address</mat-label>

                <input id="email" matInput [formControlName]="'email'" />

                <mat-error *ngIf="form.get('email').hasError('required')">
                    Email address is required
                </mat-error>

                <mat-error *ngIf="form.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>

                <input
                    id="password"
                    matInput
                    type="password"
                    [formControlName]="'password'"
                    #passwordField
                />

                <button
                    mat-icon-button
                    type="button"
                    (click)="
                        passwordField.type === 'password'
                            ? (passwordField.type = 'text')
                            : (passwordField.type = 'password')
                    "
                    matSuffix
                >
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"
                    ></mat-icon>

                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"
                    ></mat-icon>
                </button>

                <mat-error> Password is required </mat-error>
            </mat-form-field>

            <fuse-alert
                class="mr-2 -pt-3 w-full"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="'error'"
                [@shake]="alert.type === 'error'"
                *ngIf="showAlert"
            >
                <div class="flex aic w-full">
                    <mat-icon
                        svgIcon="mat_outline:warning"
                        class="mr-3 icon-size-2"
                    ></mat-icon>

                    <span style="transform: translateY(2px)">
                        Invalid admin account.
                    </span>
                </div>
            </fuse-alert>

            <button
                class="fuse-mat-button-large w-full mt-6 rounded"
                mat-flat-button
                [color]="'accent'"
                [ngClass]="{
                    'bg-stone-500': !form.valid || form.disabled
                }"
                [disabled]="form.disabled"
                (click)="signIn()"
                [class.animate-bounce]="form.valid && !form.disabled"
            >
                <span *ngIf="!form.disabled"> Log-in</span>

                <mat-progress-spinner
                    *ngIf="form.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"
                ></mat-progress-spinner>
            </button>

            <div class="flex items-center mt-8">
                <div class="flex-auto mt-px border-t"></div>
                <div class="mx-2 text-secondary">Having trouble?</div>
                <div class="flex-auto mt-px border-t"></div>
            </div>

            <div class="items-center mt-8 text-center">
                <div class="flex-text-info">Contact Us:</div>
                <div class="text-secondary">ernest@gmail.com</div>
            </div>
        </form>
    </div>
</div>
