<div [formGroup]="form" class="w-screen p-5 md:w-auto md:p-0">
    <div class="flex border-b border-b-gray-200 pb-4">
        <h1 class="text-xl">Edit Question</h1>

        <mat-icon
            role="button"
            mat-button
            mat-dialog-close
            svgIcon="feather:x"
            class="ml-auto bi bi-x-lg text-2xl hover:text-rose-600 text-slate-900"
        ></mat-icon>
    </div>

    <div [formGroup]="form" mat-dialog-content class="mb-5 py-10">
        <mat-form-field class="w-full">
            <mat-label>Title</mat-label>

            <input id="title" matInput [formControlName]="'title'" />

            <mat-error *ngIf="form.get('title').hasError('required')">
                Title is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Question</mat-label>

            <textarea
                id="question"
                matInput
                [formControlName]="'question'"
            ></textarea>

            <mat-error *ngIf="form.get('question').hasError('required')">
                Question is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Type</mat-label>

            <mat-select
                matInput
                id="question_value_type"
                [formControlName]="'question_value_type'"
            >
                <mat-option [value]="'positive'">Positive</mat-option>
                <mat-option [value]="'negative'">Negative</mat-option>
            </mat-select>

            <mat-error
                *ngIf="form.get('question_value_type').hasError('required')"
            >
                Type is required
            </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Show on Website</mat-label>

            <mat-select
                matInput
                id="show_on_website"
                [formControlName]="'show_on_website'"
            >
                <mat-option [value]="true">Yes</mat-option>
                <mat-option [value]="false">Hide</mat-option>
            </mat-select>

            <mat-error *ngIf="form.get('show_on_website').hasError('required')">
                Type is required
            </mat-error>
        </mat-form-field>
    </div>

    <div mat-dialog-actions class="flex items-center">
        <button class="ml-auto text-slate-400" mat-button mat-dialog-close>
            Close
        </button>

        <button
            [ngClass]="{
                'bg-slate-200': !form.valid || form.disabled,
                'bg-teal-500': form.valid && !form.disabled
            }"
            (click)="save()"
            class="ml-2 text-white rounded-sm px-10"
            mat-button
        >
            <span> Update </span>
        </button>
    </div>
</div>
