<div *ngIf="user$ | async as user" class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            [pageTitle]="user.student.name"
            [subtitle]="'Here is the summary of ' + user.student.name"
            icon="account_circle"
        ></app-header>
    </div>

    <div
        @slideInLeft
        class="grid w-full h-auto grid-cols-1 p-5 bg-white border-b md:grid-cols-3 md:gap-10"
    >
        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Email</div>
            <div class="text-slate-800">{{ user.email }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Sex</div>
            <div class="text-slate-800">{{ user.student.sex }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Phone</div>
            <div class="text-slate-800">{{ user.student.phone }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Department</div>
            <div class="text-slate-800">{{ user.student.department }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Degree</div>
            <div class="text-slate-800">{{ user.student.degree }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Course</div>
            <div class="text-slate-800">{{ user.student.course }}</div>
        </div>

        <div class="flex flex-col w-full mb-2">
            <div class="text-slate-400">Major</div>
            <div class="text-slate-800">{{ user.student.major || 'N/A' }}</div>
        </div>
    </div>

    <ul class="flex bg-white">
        <li role="button" class="px-10 py-3 text-white bg-cpu-color">
            Performance
        </li>
    </ul>

    <div
        @slideInBottom
        class="flex flex-col w-full p-10 bg-white drop-shadow-md"
    >
        <div class="text-xl font-bold">Psychometric Performance Summary</div>

        <apx-chart
            @slideInBottom
            *ngIf="performances.length !== 0"
            class="flex-auto w-full h-80"
            [chart]="chart.chart"
            [colors]="chart.colors"
            [dataLabels]="chart.dataLabels"
            [grid]="chart.grid"
            [labels]="chart.labels"
            [legend]="chart.legend"
            [plotOptions]="chart.plotOptions"
            [series]="chart.series"
            [states]="chart.states"
            [stroke]="chart.stroke"
            [tooltip]="chart.tooltip"
            [xaxis]="chart.xaxis"
            [yaxis]="chart.yaxis"
        ></apx-chart>
    </div>
</div>
