<div class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            pageTitle="Survey Forms"
            subtitle="Customize your survey forms here"
            icon="mat_outline:drive_file_rename_outline"
        ></app-header>
    </div>

    <ul class="flex flex-wrap bg-white">
        <li
            (click)="form$.next(form)"
            *ngFor="let form of forms"
            role="button"
            [ngClass]="{
                'bg-teal-500 text-white': (form$ | async).id === form.id,
                'hover:bg-gray-200': (form$ | async).id !== form.id
            }"
            class="px-10 py-3"
        >
            {{ form.name }}
        </li>

        <li class="ml-auto">
            <button
                (click)="addForm()"
                class="text-white bg-emerald-500 px-10 py-3 hover:bg-emerald-600 flex items-center"
            >
                <mat-icon class="text-white" svgIcon="add"></mat-icon>
                Add Form
            </button>
        </li>
    </ul>

    <div
        *ngIf="form$ | async as currentForm"
        class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-none overflow-hidden"
    >
        <div class="flex flex-col flex-auto mt-5 overflow-x-auto">
            <table class="min-w-240 overflow-y-visible">
                <thead>
                    <tr>
                        <th class="text-zinc-900/50">Title</th>
                        <th class="text-zinc-900/50">Question</th>
                        <th class="text-zinc-900/50">Type</th>
                        <th class="text-zinc-900/50">Show on Website</th>
                        <th>
                            <button
                                mat-icon-button
                                matTooltip="Toggle to Radio"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-teal-500 hover:text-teal-600"
                                    svgIcon="toggle_off"
                                ></mat-icon>
                            </button>

                            <button
                                (click)="addQuestion()"
                                mat-icon-button
                                matTooltip="Add Questions"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-blue-500 hover:text-blue-600"
                                    svgIcon="add"
                                ></mat-icon>
                            </button>

                            <button
                                (click)="editForm()"
                                mat-icon-button
                                matTooltip="Edit Form Title"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-amber-500 hover:text-amber-600"
                                    svgIcon="open_in_new"
                                ></mat-icon>
                            </button>

                            <button
                                (click)="removeForm(currentForm.id)"
                                mat-icon-button
                                matTooltip="Delete Form and All Questions"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="t text-red-500 hover:text-red-600"
                                    svgIcon="restore_from_trash"
                                ></mat-icon>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody [@listAnimation]="5">
                    <tr
                        *ngFor="let order of [1, 2, 3, 4, 5, 6]"
                        class="border-t border-zinc-200 text-center hover:bg-slate-50"
                    >
                        <td>Distraction</td>
                        <td>
                            New ideas and projects sometimes distract me from
                            previous ones.
                        </td>
                        <td>Negative Question</td>
                        <td class="text-emerald-500">Yes</td>
                        <td>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon
                                    svgIcon="mat_outline:more_horiz"
                                ></mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item>Hide on Website</button>

                                <button (click)="editQuestion()" mat-menu-item>
                                    Edit Question
                                </button>

                                <button
                                    (click)="removeQuestion('0')"
                                    mat-menu-item
                                >
                                    Remove
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
