<div class="flex flex-col w-full">
    <div @slideInTop class="flex flex-col w-full">
        <app-header
            class="w-full"
            pageTitle="Survey Forms"
            subtitle="Customize your survey forms here"
            icon="mat_outline:drive_file_rename_outline"
        ></app-header>
    </div>

    <ul class="flex flex-wrap bg-white">
        <li
            (click)="form$.next(form)"
            *ngFor="let form of forms"
            role="button"
            [ngClass]="{
                'bg-teal-500 text-white': (form$ | async).id === form.id,
                'hover:bg-gray-200': (form$ | async).id !== form.id
            }"
            class="px-10 py-3"
        >
            {{ form.name }}
        </li>

        <li class="ml-auto">
            <button
                (click)="addForm()"
                class="text-white bg-emerald-500 px-10 py-3 hover:bg-emerald-600 flex items-center"
            >
                <mat-icon class="text-white" svgIcon="add"></mat-icon>
                Add Form
            </button>
        </li>
    </ul>

    <div
        *ngIf="form$ | async as currentForm"
        class="sm:col-span-6 flex flex-col flex-auto p-6 bg-card shadow rounded-none overflow-hidden"
    >
        <div class="flex flex-col flex-auto mt-5 overflow-x-auto">
            <div>Description:{{ currentForm.description }}</div>

            <table class="min-w-240 overflow-y-visible">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Question</th>
                        <th>Type</th>
                        <th>Show on Website</th>
                        <th>
                            <button
                                (click)="toggleRadio(currentForm)"
                                mat-icon-button
                                [matTooltip]="
                                    'Toggle to ' + currentForm.question_type ===
                                    'button'
                                        ? 'Radio'
                                        : 'Button'
                                "
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-teal-500 hover:text-teal-600"
                                    [svgIcon]="
                                        currentForm.question_type === 'button'
                                            ? 'toggle_off'
                                            : 'toggle_on'
                                    "
                                ></mat-icon>
                            </button>

                            <button
                                (click)="addQuestion()"
                                mat-icon-button
                                matTooltip="Add Questions"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-blue-500 hover:text-blue-600"
                                    svgIcon="add"
                                ></mat-icon>
                            </button>

                            <button
                                (click)="editForm()"
                                mat-icon-button
                                matTooltip="Edit Form Title"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="text-amber-500 hover:text-amber-600"
                                    svgIcon="open_in_new"
                                ></mat-icon>
                            </button>

                            <button
                                (click)="removeForm(currentForm.id)"
                                mat-icon-button
                                matTooltip="Delete Form and All Questions"
                                class="mx-1"
                            >
                                <mat-icon
                                    class="t text-red-500 hover:text-red-600"
                                    svgIcon="restore_from_trash"
                                ></mat-icon>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody
                    *ngIf="currentForm.questions.length !== 0"
                    [@listAnimation]="currentForm.questions.length"
                >
                    <tr
                        *ngFor="let question of currentForm.questions"
                        class="border-t border-zinc-200 text-center hover:bg-slate-50"
                    >
                        <td>{{ question.title }}</td>
                        <td>{{ question.question }}</td>
                        <td>{{ question.question_value_type }}</td>
                        <td
                            [ngClass]="{
                                'text-emerald-500': question.show_on_website,
                                'text-rose-500': !question.show_on_website
                            }"
                        >
                            {{ question.show_on_website ? "Yes" : "Hidden" }}
                        </td>

                        <td>
                            <button mat-button [matMenuTriggerFor]="menu">
                                <mat-icon
                                    svgIcon="mat_outline:more_horiz"
                                ></mat-icon>
                            </button>

                            <mat-menu #menu="matMenu">
                                <button
                                    (click)="hideOnWebsite(question)"
                                    mat-menu-item
                                >
                                    {{
                                        !question.show_on_website
                                            ? "Show"
                                            : "Hide"
                                    }}
                                    on Website
                                </button>

                                <button
                                    (click)="editQuestion(question)"
                                    mat-menu-item
                                >
                                    Edit Question
                                </button>

                                <button
                                    (click)="removeQuestion(question.id)"
                                    mat-menu-item
                                >
                                    Remove
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
